.main {
  section {
    padding: 5rem 0;

    @media screen and (max-width: 996px) {
      padding: 2.5rem 0;
    }
  }
}

.scrollup {
  //position: absolute;
  top: -28px;
  right: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  height: 56px;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 5px 14px 0 rgba(80, 94, 120, 0.08);
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
}
